.DS_Store
*.DS_Store
*.bt2
*.fai
/output/
/outs/
/prelim_analysis/
/targeted_analysis/
dev/
reference-results/
.nextflow/
.nextflow.log
.nextflow.log.*
.conda/
*.fastq.gz
work
derived_data/
results/
archived.*/
.vscode
input_reads/
refdata/centrifuge/
