params {
  conda_env = "${projectDir}/../pipelines/conda_env/bowtie_vs_pave.env.yml"
  scripts_dir = "${projectDir}/../scripts"
  multiqc_config = "${projectDir}/../pipelines/multiqc/bowtie_vs_pave.multiqc.yml"
  features_tsv_dir = "${projectDir}/../refdata/derived/pave/features_tsv"
  lineage_hpv16_fasta = "${projectDir}/../refdata/derived/hpv16_tree/lineages_ref_renamed.fasta"
  lineage_hpv18_fasta = "${projectDir}/../refdata/derived/hpv18_tree/lineages_ref_renamed.fasta"
}

process {
  cpus = params.threads
}
