params {
  conda_env = "${projectDir}/../pipelines/conda_env/pave_gene_mapping.env.yml"
  scripts_dir = "${projectDir}/../scripts"
  multiqc_config = "${projectDir}/../pipelines/multiqc/pave_gene_mapping.multiqc.yml"
  bucket_tid_file = "${projectDir}/../config/pave_bucket_tid.txt"
}

process {
  cpus = params.threads
}
