params {
  conda_env = "${projectDir}/../pipelines/conda_env/virstrain.env.yml"
  scripts_dir = "${projectDir}/../scripts"
  multiqc_config = "${projectDir}/../pipelines/multiqc/virstrain.multiqc.yml"
  multiqc_env = "${projectDir}/../pipelines/conda_env/virstrain.multiqc.env.yml"
  bucket_tid_file = "${projectDir}/../config/pave_bucket_tid.txt"
  ref_fasta = "${projectDir}/../refdata/raw/pave/pave_hsa.fas"
}

process {
  cpus = params.threads
}
