params {
  conda_env = "${projectDir}/../pipelines/conda_env/virstrain.env.yml"
  scripts_dir = "${projectDir}/../scripts"
  multiqc_config = "${projectDir}/../config/virstrain.multiqc.yml"
  multiqc_env = "${projectDir}/../pipelines/conda_env/virstrain.multiqc.env.yml"
}

process {
  cpus = params.threads
}
