params {
  conda_env = "${projectDir}/../pipelines/conda_env/pipeline.env.yml"
  scripts_dir = "${projectDir}/../scripts"
  multiqc_config = "${projectDir}/../pipelines/multiqc/bowtie_vs_pave.multiqc.yml"
  bucket_tid = 151340
  pave_ref_fasta = "${projectDir}/../refdata/pave/pave_hsa.fas"
  pave_gff3_dir = "${projectDir}/../refdata/pave/gff3"
  features_tsv_dir = "${projectDir}/../derived_data/refdata/pave/features_tsv"
  patients_metadata = "${projectDir}/../metadata/cohort/patients_metadata.tsv"
  genexpert_results = "${projectDir}/../metadata/cohort/genexpert_results.tsv"
}
