params {
  conda_env = "${projectDir}/../pipelines/conda_env/pipeline.env.yml"
  scripts_dir = "${projectDir}/../scripts"
  multiqc_config = "${projectDir}/../pipelines/multiqc/bowtie_vs_pave.multiqc.yml"
  bucket_tid = 151340
  pave_ref_fasta = "${projectDir}/../refdata/pave/pave_hsa.fas"
  pave_gff3_dir = "${projectDir}/../refdata/pave/gff3"
  pave_bed_dir = "${projectDir}/../derived_data/refdata/pave/bed"
  features_tsv_dir = "${projectDir}/../derived_data/refdata/pave/features_tsv"
  lineage_hpv16_fasta = "${projectDir}/../derived_data/refdata/hpv16_tree/lineages_ref_renamed.fasta"
  lineage_hpv18_fasta = "${projectDir}/../derived_data/refdata/hpv18_tree/lineages_ref_renamed.fasta"
  patients_metadata = "${projectDir}/../metadata/patients_metadata.txt"
  genexpert_results = "${projectDir}/../metadata/genexpert_results.txt"
}
