params {
  conda_env = "${projectDir}/../pipelines/conda_env/pipeline.env.yml"
  scripts_dir = "${projectDir}/../scripts"
  multiqc_config = "${projectDir}/../pipelines/multiqc/centrifuge_bucketing.multiqc.yml"
  buckets = "${projectDir}/../metadata/bucket_taxonomy_ids.tsv"
}

process {
  cpus = params.threads
}
