conda {
  enabled = true
  cacheDir = "${projectDir}/../.conda"
}

process.executor = "local"
process.maxForks = 24
executor.queueSize = 24

params {
  multiqc_outdir = params.multiqc_outdir ?: "${projectDir}/../results/reports/${params.analysis_name ?: 'unknown_analysis'}"
  bowtie_index_dir = params.bowtie_index_dir ?: "${projectDir}/../derived_data/indices/bowtie_vs_pave"
}
