params {
  conda_env = "${projectDir}/../pipelines/conda_env/pipeline.env.yml"
  scripts_dir = "${projectDir}/../scripts"
  multiqc_config = "${projectDir}/../pipelines/multiqc/database_snps.multiqc.yml"
  ref_fasta = "${projectDir}/../refdata/pave/pave_hsa.fas"
  pave_gff3_dir = "${projectDir}/../refdata/pave/gff3"
  samples_tsv = "${projectDir}/../metadata/samples-input2.tsv"
  pave_bed_dir = "${projectDir}/../intermediate_files/refdata/pave/bed"
  selected_hpv16_fasta = "${projectDir}/../intermediate_files/refdata/hpv16_tree/selected.fasta"
  selected_hpv16_tsv = "${projectDir}/../intermediate_files/refdata/hpv16_tree/selected"
  selected_hpv18_fasta = "${projectDir}/../intermediate_files/refdata/hpv18_tree/selected.fasta"
  selected_hpv18_tsv = "${projectDir}/../intermediate_files/refdata/hpv18_tree/HPV18-NCBIVirus.acc_country.selected.tsv"
  lineage_hpv16_fasta = "${projectDir}/../intermediate_files/refdata/hpv16_tree/lineages_ref_renamed.fasta"
  lineage_hpv18_fasta = "${projectDir}/../intermediate_files/refdata/hpv18_tree/lineages_ref_renamed.fasta"
}

process {
  cpus = params.threads
}
