params {
  input_dir = "${projectDir}/../derived_data/refdata/hpv16_tree"
  refdata_dir = "${projectDir}/../refdata/hpv16_tree"
  derived_dir = "${projectDir}/../derived_data/refdata/hpv16_tree"
  lineages_tsv = "${projectDir}/../refdata/hpv16_tree/HPV16_lineages.tsv"
  ncbi_tsv = "${projectDir}/../refdata/hpv16_tree/HPV16-NCBIVirus.tsv"
  ncbi_fasta = "${projectDir}/../refdata/hpv16_tree/HPV16-NCBIVirus.fasta"
  selected_tsv = "${projectDir}/../refdata/hpv16_tree/HPV16-NCBIVirus.selected.tsv"
  outgroups_list = "${projectDir}/../metadata/hpv16_tree_outgroups.txt"
  samples_tsv = "${projectDir}/../metadata/samples-input2.tsv"
  mapping_outdir = "${projectDir}/../targeted_analysis/02.mapping_vs_pave/output"
  strains_tsv = "${projectDir}/../targeted_analysis/02.mapping_vs_pave/reports/strains.tsv"
  sample_prep_script = "${projectDir}/../scripts/phylo_tree/hpv16_prepare_samples.sh"
  lineage_extract_script = "${projectDir}/../scripts/phylo_tree/hpv16_extract_lineages_fasta.sh"
  selection_kind = "hpv16"
}
