params {
  input_dir = "${projectDir}/../derived_data/refdata/hpv18_tree"
  refdata_dir = "${projectDir}/../refdata/hpv18_tree"
  derived_dir = "${projectDir}/../derived_data/refdata/hpv18_tree"
  lineages_tsv = "${projectDir}/../refdata/hpv18_tree/HPV18_lineages.tsv"
  ncbi_tsv = "${projectDir}/../refdata/hpv18_tree/HPV18-NCBIVirus.tsv"
  ncbi_fasta = "${projectDir}/../refdata/hpv18_tree/HPV18-NCBIVirus.fasta"
  acc_country_tsv = "${projectDir}/../derived_data/refdata/hpv18_tree/HPV18-NCBIVirus.acc_country.tsv"
  acc_country_cols = "1,10,11"
  selected_tsv = "${projectDir}/../derived_data/refdata/hpv18_tree/HPV18-NCBIVirus.acc_country.selected.tsv"
  selection_list = "${projectDir}/../metadata/hpv18_tree_db_selection.txt"
  selection_columns = "1,10,11"
  outgroups_list = "${projectDir}/../metadata/hpv18_tree_outgroups.txt"
  samples_tsv = "${projectDir}/../metadata/samples_targeted_analysis.tsv"
  mapping_outdir = "${projectDir}/../outs/targeted_analysis/02.mapping_vs_pave"
  strains_tsv = "${projectDir}/../outs/targeted_analysis/02.mapping_vs_pave/reports/strains.tsv"
  sample_prep_script = "${projectDir}/../scripts/phylo_tree/prepare_samples.sh"
  lineage_extract_script = "${projectDir}/../scripts/phylo_tree/extract_lineages_fasta.sh"
  selection_script = "${projectDir}/../scripts/phylo_tree/select_ncbi_genomes.sh"
  rename_tsv = "${projectDir}/../refdata/hpv18_tree/HPV18-NCBIVirus.tsv"
  rename_acc_col = 1
  rename_prefix_col = 10
  skip_id = "THAILAND/GQ180787.1"
  hpv_type = "HPV18"
  ref_name = "HPV18REF"
  ref_pattern = "HPV18REF.*"
  strains_match = "HPV18"
}
