params {
  input_dir = "${projectDir}/../derived_data/refdata/hpv16_tree"
  refdata_dir = "${projectDir}/../refdata/hpv16_tree"
  derived_dir = "${projectDir}/../derived_data/refdata/hpv16_tree"
  lineages_tsv = "${projectDir}/../refdata/hpv16_tree/HPV16_lineages.tsv"
  ncbi_tsv = "${projectDir}/../refdata/hpv16_tree/HPV16-NCBIVirus.tsv"
  ncbi_fasta = "${projectDir}/../refdata/hpv16_tree/HPV16-NCBIVirus.fasta"
  outgroups_fasta = "${projectDir}/../refdata/pave/pave_hsa.fas"
  selected_tsv = "${projectDir}/../derived_data/refdata/hpv16_tree/HPV16-NCBIVirus.selected.tsv"
  selection_list = "${projectDir}/../metadata/hpv16_tree_db_selection.txt"
  selection_columns = "1,10"
  outgroups_list = "${projectDir}/../metadata/hpv16_tree_outgroups.txt"
  samples_tsv = "${projectDir}/../metadata/samples_targeted_analysis.tsv"
  mapping_outdir = "${projectDir}/../outs/targeted_analysis/02.mapping_vs_pave"
  strains_tsv = "${projectDir}/../outs/targeted_analysis/02.mapping_vs_pave/reports/strains.tsv"
  sample_prep_script = "${projectDir}/../scripts/phylo_tree/prepare_samples.sh"
  lineage_extract_script = "${projectDir}/../scripts/phylo_tree/extract_lineages_fasta.sh"
  selection_script = "${projectDir}/../scripts/phylo_tree/select_ncbi_genomes.sh"
  hpv_type = "HPV16"
  ref_name = "HPV16REF"
  ref_pattern = "HPV16REF.*"
  strains_match = "HPV16"
}
