params {
  conda_env = "${projectDir}/../pipelines/conda_env/recombination.env.yml"
  multiqc_env = "${projectDir}/../.conda/envs/pipeline"
  scripts_dir = "${projectDir}/../scripts"
  multiqc_config = "${projectDir}/../pipelines/multiqc/recombination_analysis.multiqc.yml"

  recombination_input_mode = "metadata_fasta"
  recombination_sequences_tsv = null
  recombination_exclude_samples_tsv = null
  recombination_hpv_types = null

  recombination_input_is_aligned = false
  recombination_min_sequences = 3
  recombination_mafft_args = "--auto"

  recombination_gard_model = "012345"
  recombination_gard_rate_classes = 3
  recombination_gard_max_breakpoints = 10
  recombination_gard_confidence = "low"

  recombination_enable_similarity_plot = true
}
