params {
  conda_env = "${projectDir}/../pipelines/conda_env/pipeline.env.yml"
  scripts_dir = "${projectDir}/../scripts"
  multiqc_config = "${projectDir}/../pipelines/multiqc/variant_analysis.multiqc.yml"
  pave_ref_fasta = "${projectDir}/../refdata/pave/pave_hsa.fas"
  pave_gff3_dir = "${projectDir}/../refdata/pave/gff3"
  pave_bed_dir = "${projectDir}/../derived_data/refdata/pave/bed"
  lineage_hpv16_fasta = "${projectDir}/../derived_data/refdata/hpv16_tree/lineages_ref_renamed.fasta"
  lineage_hpv18_fasta = "${projectDir}/../derived_data/refdata/hpv18_tree/lineages_ref_renamed.fasta"
  lineage_ref_hpv16_name = "HPV16REF|lcl|Human"
  lineage_ref_hpv18_name = "HPV18REF|lcl|Human"
  selected_hpv16_fasta = "${projectDir}/../derived_data/refdata/hpv16_tree/selected.fasta"
  selected_hpv16_tsv = "${projectDir}/../derived_data/refdata/hpv16_tree/HPV16-NCBIVirus.selected.tsv"
  selected_hpv18_fasta = "${projectDir}/../derived_data/refdata/hpv18_tree/selected.fasta"
  selected_hpv18_tsv = "${projectDir}/../derived_data/refdata/hpv18_tree/HPV18-NCBIVirus.acc_country.selected.tsv"
}
