params {
  run_virstrain = false
  conda_env = "${projectDir}/../pipelines/conda_env/virstrain.env.yml"
  scripts_dir = "${projectDir}/../scripts"
  multiqc_config = "${projectDir}/../pipelines/multiqc/virstrain.multiqc.yml"
  multiqc_env = "${projectDir}/../.conda/envs/pipeline"
  bucket_tid = 151340
  ref_fasta = "${projectDir}/../refdata/pave/pave_hsa.fas"
  virstrain_index_dir = "${projectDir}/../derived_data/indices/virstrain"
}
