params {
  bucket_tid = null
  bucket_tid_file = "${projectDir}/../config/pave_bucket_tid.txt"
  pave_ref_fasta = "${projectDir}/../refdata/raw/pave/pave_hsa.fas"
  pave_gff3_dir = "${projectDir}/../refdata/raw/pave/gff3"
  pave_bed_dir = "${projectDir}/../refdata/raw/pave/bed"
  lineage_ref_hpv16_name = "HPV16REF|lcl|Human"
  lineage_ref_hpv18_name = "HPV18REF|lcl|Human"
  threads = 24
}
