params {
  reads_dir = null
  outdir = null
  reports_dir = null
  index_dir = null
  scripts_dir = "${projectDir}/../scripts"
  bucket_tid = null
  bucket_tid_file = "${projectDir}/../metadata/pave_bucket_tid.txt"
  multiqc_config = "${projectDir}/../config/bowtie_vs_pave.multiqc.yml"
  pave_ref_fasta = "${projectDir}/../refdata/raw/pave/pave_hsa.fas"
  features_tsv_dir = "${projectDir}/../refdata/derived/pave/features_tsv"
  pave_gff3_dir = "${projectDir}/../refdata/raw/pave/gff3"
  pave_bed_dir = "${projectDir}/../refdata/raw/pave/bed"
  lineage_hpv16_fasta = "${projectDir}/../refdata/derived/hpv16_tree/lineages_ref_renamed.fasta"
  lineage_hpv18_fasta = "${projectDir}/../refdata/derived/hpv18_tree/lineages_ref_renamed.fasta"
  lineage_ref_hpv16_name = "HPV16REF|lcl|Human"
  lineage_ref_hpv18_name = "HPV18REF|lcl|Human"
  threads = 24
  conda_env = "${projectDir}/../config/bowtie_vs_pave.env.yml"
}

conda {
  enabled = true
}

process {
  executor = "local"
  cpus = params.threads
  maxForks = 24
  conda = params.conda_env
}

executor {
  queueSize = 24
}
