params {
  target_country = "Cambodia"

  ref_fasta = "${projectDir}/../refdata/raw/pave/pave_hsa.fas"
  ref_hpv16_name = "HPV16REF|lcl|Human"
  ref_hpv18_name = "HPV18REF|lcl|Human"
  samples_tsv = "${projectDir}/../metadata/samples-input2.tsv"
  pave_bed_dir = "${projectDir}/../refdata/raw/pave/bed"
  threads = 24
}
