params {
  scripts_dir = "${projectDir}/../scripts"
  conda_env = "${projectDir}/../config/bowtie_vs_pave.env.yml"
  multiqc_config = "${projectDir}/../config/cambodia_snps.multiqc.yml"

  target_country = "Cambodia"

  selected_hpv16_fasta = "${projectDir}/../refdata/hpv16_tree/selected.fasta"
  selected_hpv16_tsv = "${projectDir}/../refdata/hpv16_tree/selected"
  selected_hpv18_fasta = "${projectDir}/../refdata/hpv18_tree/selected.fasta"
  selected_hpv18_tsv = "${projectDir}/../refdata/hpv18_tree/HPV18-NCBIVirus.acc_country.selected.tsv"

  lineage_hpv16_fasta = "${projectDir}/../refdata/hpv16_tree/lineages_ref_renamed.fasta"
  lineage_hpv18_fasta = "${projectDir}/../refdata/hpv18_tree/lineages_ref_renamed.fasta"

  ref_fasta = "${projectDir}/../refdata/pave/pave_hsa.fas"
  ref_hpv16_name = "HPV16REF|lcl|Human"
  ref_hpv18_name = "HPV18REF|lcl|Human"
  samples_tsv = "${projectDir}/../metadata/samples-input2.tsv"
  pave_bed_dir = "/srv/virology/databases/pave/20240830/host_hsa/bed"
  threads = 24
}

conda {
  enabled = true
}

process {
  executor = "local"
  cpus = params.threads
  maxForks = 24
  conda = params.conda_env
}

executor {
  queueSize = 24
}
