params {
  reads = null
  outdir = "${projectDir}/analysis-1/steps/001.0.centrifuge/output"
  index = "/srv/databases/centrifuge/hpvc/latest/"
  taxdump = "/srv/databases/centrifuge/hpvc/latest/factory/taxonomy-2023-10-30"
  buckets = "${projectDir}/analysis-1/steps/001.0.centrifuge/metadata/bucket_taxonomy_ids.tsv"
  scripts_dir = "${projectDir}/scripts"
  homo_sapiens_tid = 9606
  threads = 64
}

process {
  executor = "local"
  cpus = 1
}
