params {
  reads = null
  outdir = null
  index = "/srv/databases/centrifuge/hpvc/latest/hpvc"
  taxdump = "/srv/databases/centrifuge/hpvc/latest/factory/taxonomy-2023-10-30"
  buckets = "${projectDir}/../metadata/bucket_taxonomy_ids.tsv"
  scripts_dir = "${projectDir}/../scripts"
  conda_env = "${projectDir}/../config/centrifuge_bucketing.env.yml"
  homo_sapiens_tid = 9606
  threads = 32
}

conda {
  enabled = true
}

process {
  executor = "local"
  cpus = 1
  conda = params.conda_env
}
