params {
  input_dir = null
  outdir = null
  reports_dir = null
  outgroups_file = "${projectDir}/../metadata/hpv18_tree_outgroups.txt"
  multiqc_config = "${projectDir}/../config/phylo_tree.multiqc.yml"
  mafft_args = "--localpair --maxiterate 1000"
  trimal_gt = 0.90
  trimal_st = 0.01
  iqtree_model = "MFP"
  iqtree_threads = "AUTO"
  iqtree_bootstrap = 1000
  iqtree_alrt = 1000
  threads = 24
  conda_env = "${projectDir}/../config/phylo_tree.env.yml"
}

conda {
  enabled = true
}

process {
  executor = "local"
  cpus = params.threads
  maxForks = 24
  conda = params.conda_env
}

executor {
  queueSize = 24
}
