params {
  reads_dir = null
  outdir = null
  reports_dir = null
  index_dir = null
  scripts_dir = "${projectDir}/../scripts"
  bucket_tid = null
  bucket_tid_file = "${projectDir}/../metadata/pave_bucket_tid.txt"
  multiqc_config = "${projectDir}/../config/virstrain.multiqc.yml"
  ref_fasta = "/srv/giorgio/refdata/pave/human/20231102/pave_hsa.fas"
  threads = 24
  conda_env = "${projectDir}/../config/virstrain.env.yml"
}

conda {
  enabled = true
}

process {
  executor = "local"
  cpus = params.threads
  maxForks = 24
  conda = params.conda_env
}

executor {
  queueSize = 24
}
