params {
  read1 = null
  read2 = null
  run_id = null
  sample_id = null
  reads_dir = null
  outdir = null
  reports_dir = null
  index_dir = null
  scripts_dir = "${projectDir}/../scripts"
  bucket_tid = null
  bucket_tid_file = "${projectDir}/../config/pave_bucket_tid.txt"
  multiqc_config = "${projectDir}/../config/virstrain.multiqc.yml"
  multiqc_env = "${projectDir}/../pipelines/conda_env/virstrain.multiqc.env.yml"
  ref_fasta = "${projectDir}/../refdata/raw/pave/pave_hsa.fas"
  threads = 24
  conda_env = "${projectDir}/../pipelines/conda_env/virstrain.env.yml"
}

conda {
  enabled = true
}

process {
  executor = "local"
  cpus = params.threads
  maxForks = 24
  conda = params.conda_env
}

executor {
  queueSize = 24
}
