profiles {
  preliminary_bucketing {
    params {
      analysis_name = "prelim_analysis"
      step_name = "01.bucketing"
      samples_tsv = "${projectDir}/../metadata/samples_prelim_analysis.tsv"
    }
  }

  preliminary_mapping_vs_pave {
    params {
      analysis_name = "prelim_analysis"
      step_name = "02.mapping_vs_pave"
      input_step_name = "01.bucketing"
    }
  }

  preliminary_variant_analysis {
    params {
      analysis_name = "prelim_analysis"
      step_name = "03.variant_analysis"
      input_step_name = "02.mapping_vs_pave"
      include_database = false
    }
  }

  preliminary_virstrain {
    params {
      analysis_name = "prelim_analysis"
      step_name = "04.virstrain"
      input_step_name = "01.bucketing"
    }
  }

}
