profiles {
  preliminary_bucketing {
    params {
      samples_tsv = "${projectDir}/../metadata/samples-input1.tsv"
      outdir = "${projectDir}/../outs/prelim_analysis/01.bucketing"
      reports_dir = "${projectDir}/../outs/prelim_analysis/01.bucketing/reports"
      multiqc_outdir = "${projectDir}/../results/reports/prelim_analysis"
      multiqc_report_name = "01_bucketing.report.html"
    }
  }

  preliminary_mapping_vs_pave {
    params {
      reads_dir = "${projectDir}/../outs/prelim_analysis/01.bucketing"
      outdir = "${projectDir}/../outs/prelim_analysis/02.mapping_vs_pave"
      reports_dir = "${projectDir}/../outs/prelim_analysis/02.mapping_vs_pave/reports"
      multiqc_outdir = "${projectDir}/../results/reports/prelim_analysis"
      multiqc_report_name = "02_mapping_vs_pave.report.html"
      index_dir = "${projectDir}/../derived_data/indices/bowtie_vs_pave"
    }
  }

  preliminary_variant_analysis {
    params {
      mapping_outdir = "${projectDir}/../outs/prelim_analysis/02.mapping_vs_pave"
      reports_dir = "${projectDir}/../outs/prelim_analysis/03.variant_analysis/reports"
      multiqc_outdir = "${projectDir}/../results/reports/prelim_analysis"
      multiqc_report_name = "03_variant_analysis.report.html"
      index_dir = "${projectDir}/../derived_data/indices/bowtie_vs_pave"
      include_database = false
    }
  }

  preliminary_virstrain {
    params {
      reads_dir = "${projectDir}/../outs/prelim_analysis/01.bucketing"
      outdir = "${projectDir}/../outs/prelim_analysis/04.virstrain"
      reports_dir = "${projectDir}/../outs/prelim_analysis/04.virstrain/reports"
      multiqc_outdir = "${projectDir}/../results/reports/prelim_analysis"
      multiqc_report_name = "04_virstrain.report.html"
      index_dir = "${projectDir}/../derived_data/indices/preliminary/virstrain"
    }
  }

}
