profiles {
  preliminary_bucketing {
    params {
      samples_tsv = "${projectDir}/../metadata/samples-input1.tsv"
      outdir = "${projectDir}/../prelim_analysis/01.bucketing/output"
      reports_dir = "${projectDir}/../prelim_analysis/01.bucketing/reports"
    }
  }

  preliminary_mapping_vs_pave {
    params {
      reads_dir = "${projectDir}/../prelim_analysis/01.bucketing/output"
      outdir = "${projectDir}/../prelim_analysis/02.mapping_vs_pave/output"
      reports_dir = "${projectDir}/../prelim_analysis/02.mapping_vs_pave/reports"
      index_dir = "${projectDir}/../derived_data/indices/bowtie_vs_pave"
    }
  }

  preliminary_variant_analysis {
    params {
      mapping_outdir = "${projectDir}/../prelim_analysis/02.mapping_vs_pave/output"
      reports_dir = "${projectDir}/../prelim_analysis/03.variant_analysis/reports"
      index_dir = "${projectDir}/../derived_data/indices/bowtie_vs_pave"
      include_database = false
    }
  }

  preliminary_virstrain {
    params {
      reads_dir = "${projectDir}/../prelim_analysis/01.bucketing/output"
      outdir = "${projectDir}/../prelim_analysis/04.virstrain/output"
      reports_dir = "${projectDir}/../prelim_analysis/04.virstrain/reports"
      index_dir = "${projectDir}/../derived_data/indices/preliminary/virstrain"
    }
  }

  // E6/E7 gene-only mapping steps removed; step 03 handles E6/E7 variants via BEDs.
}
