profiles {
  targeted_bucketing {
    params {
      samples_tsv = "${projectDir}/../metadata/samples-input2.tsv"
      outdir = "${projectDir}/../targeted_analysis/01.bucketing/output"
      reports_dir = "${projectDir}/../targeted_analysis/01.bucketing/reports"
    }
  }

  targeted_mapping_vs_pave {
    params {
      reads_dir = "${projectDir}/../targeted_analysis/01.bucketing/output"
      outdir = "${projectDir}/../targeted_analysis/02.mapping_vs_pave/output"
      reports_dir = "${projectDir}/../targeted_analysis/02.mapping_vs_pave/reports"
      index_dir = "${projectDir}/../derived_data/indices/bowtie_vs_pave"
    }
  }

  targeted_hpv16_tree {
    params {
      outgroups_file = "${projectDir}/../metadata/hpv16_tree_outgroups.txt"
      outdir = "${projectDir}/../targeted_analysis/04.hpv16_tree/output"
      reports_dir = "${projectDir}/../targeted_analysis/04.hpv16_tree/reports"
    }
  }

  targeted_hpv18_tree {
    params {
      outgroups_file = "${projectDir}/../metadata/hpv18_tree_outgroups.txt"
      outdir = "${projectDir}/../targeted_analysis/05.hpv18_tree/output"
      reports_dir = "${projectDir}/../targeted_analysis/05.hpv18_tree/reports"
    }
  }

  targeted_variant_analysis {
    params {
      mapping_outdir = "${projectDir}/../targeted_analysis/02.mapping_vs_pave/output"
      reports_dir = "${projectDir}/../targeted_analysis/03.variant_analysis/reports"
      index_dir = "${projectDir}/../derived_data/indices/bowtie_vs_pave"
      samples_tsv = "${projectDir}/../metadata/samples-input2.tsv"
      include_database = true
      database_outdir = "${projectDir}/../targeted_analysis/03.variant_analysis/output/database_snps"
      multiqc_config = "${projectDir}/../pipelines/multiqc/variant_analysis_db.multiqc.yml"
    }
  }
}
