profiles {
  targeted_bucketing {
    params {
      analysis_name = "targeted_analysis"
      step_name = "01.bucketing"
      samples_tsv = "${projectDir}/../metadata/seq_samples/samples_targeted_analysis.tsv"
      multiqc_outdir = "${projectDir}/../results/reports/targeted_analysis"
    }
  }

  targeted_mapping_vs_pave {
    params {
      analysis_name = "targeted_analysis"
      step_name = "02.mapping_vs_pave"
      input_step_name = "01.bucketing"
      multiqc_outdir = "${projectDir}/../results/reports/targeted_analysis"
    }
  }

  targeted_variant_analysis {
    params {
      analysis_name = "targeted_analysis"
      step_name = "03.variant_analysis"
      input_step_name = "02.mapping_vs_pave"
      samples_tsv = "${projectDir}/../metadata/seq_samples/samples_targeted_analysis.tsv"
      include_database = true
      multiqc_config = "${projectDir}/../pipelines/multiqc/variant_analysis_db.multiqc.yml"
      multiqc_outdir = "${projectDir}/../results/reports/targeted_analysis"
    }
  }

  targeted_hpv16_tree {
    params {
      analysis_name = "targeted_analysis"
      step_name = "04.hpv16_tree"
      input_step_name = "02.mapping_vs_pave"
      outgroups_file = "${projectDir}/../metadata/hpv16_tree/hpv16_tree_outgroups.txt"
      multiqc_outdir = "${projectDir}/../results/reports/targeted_analysis"
    }
  }

  targeted_hpv18_tree {
    params {
      analysis_name = "targeted_analysis"
      step_name = "05.hpv18_tree"
      input_step_name = "02.mapping_vs_pave"
      outgroups_file = "${projectDir}/../metadata/hpv18_tree/hpv18_tree_outgroups.txt"
      multiqc_outdir = "${projectDir}/../results/reports/targeted_analysis"
    }
  }

}
