profiles {
  targeted_bucketing {
    params {
      samples_tsv = "${projectDir}/../metadata/samples-input2.tsv"
      outdir = "${projectDir}/../outs/targeted_analysis/01.bucketing"
      reports_dir = "${projectDir}/../outs/targeted_analysis/01.bucketing/reports"
      multiqc_outdir = "${projectDir}/../results/reports/targeted_analysis"
      multiqc_report_name = "01_bucketing.report.html"
    }
  }

  targeted_mapping_vs_pave {
    params {
      reads_dir = "${projectDir}/../outs/targeted_analysis/01.bucketing"
      outdir = "${projectDir}/../outs/targeted_analysis/02.mapping_vs_pave"
      reports_dir = "${projectDir}/../outs/targeted_analysis/02.mapping_vs_pave/reports"
      multiqc_outdir = "${projectDir}/../results/reports/targeted_analysis"
      multiqc_report_name = "02_mapping_vs_pave.report.html"
      index_dir = "${projectDir}/../derived_data/indices/bowtie_vs_pave"
    }
  }

  targeted_hpv16_tree {
    params {
      outgroups_file = "${projectDir}/../metadata/hpv16_tree_outgroups.txt"
      outdir = "${projectDir}/../outs/targeted_analysis/04.hpv16_tree"
      reports_dir = "${projectDir}/../outs/targeted_analysis/04.hpv16_tree/reports"
      multiqc_outdir = "${projectDir}/../results/reports/targeted_analysis"
      multiqc_report_name = "04_hpv16_tree.report.html"
    }
  }

  targeted_hpv18_tree {
    params {
      outgroups_file = "${projectDir}/../metadata/hpv18_tree_outgroups.txt"
      outdir = "${projectDir}/../outs/targeted_analysis/05.hpv18_tree"
      reports_dir = "${projectDir}/../outs/targeted_analysis/05.hpv18_tree/reports"
      multiqc_outdir = "${projectDir}/../results/reports/targeted_analysis"
      multiqc_report_name = "05_hpv18_tree.report.html"
    }
  }

  targeted_variant_analysis {
    params {
      mapping_outdir = "${projectDir}/../outs/targeted_analysis/02.mapping_vs_pave"
      reports_dir = "${projectDir}/../outs/targeted_analysis/03.variant_analysis/reports"
      multiqc_outdir = "${projectDir}/../results/reports/targeted_analysis"
      multiqc_report_name = "03_variant_analysis.report.html"
      index_dir = "${projectDir}/../derived_data/indices/bowtie_vs_pave"
      samples_tsv = "${projectDir}/../metadata/samples-input2.tsv"
      include_database = true
      database_outdir = "${projectDir}/../outs/targeted_analysis/03.variant_analysis/database_snps"
      multiqc_config = "${projectDir}/../pipelines/multiqc/variant_analysis_db.multiqc.yml"
    }
  }
}
